:root {
    background-image:
        linear-gradient(rgba(10, 20, 38, 0.4), rgba(5, 10, 25, 0.75)),
        url('assets/back.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

body {
    display: flex;
    justify-content: center;
}

.container {
    background: #2E506E;
    background: linear-gradient(0deg, #2E506E, #76ADC0);
    width: 920px;
    height: 880px;
    border-radius: 20px;
    margin-top: 25px;
    padding: 20px;
}
.header {
    width: 920;
    height: 100px;
}
h1 {
    color: #162533;
    font-size: 35px;
    text-align: center;
}
